.score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    margin: 10px auto;
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
}

.score{
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    border-radius: 0.5rem;
}

.x-score{
    color: #731DD8;
    border: 3px solid #731DD8;
}

.o-score{
    color:#44CFAC;
    border: 3px solid #44CFAC;
}

.inactive{
    border: none;
}